input[type=range] { max-width: 76%; width: 76% }
.selectLanguage,
button[title='main btn'] { 
    width: 94%; 
}

.logo_wrap, .user_wrap { width: 100%; justify-content: center }
.user_wrap { flex-direction: column }
.user_wrap > p { text-align: center }
.settings_box { padding: 15px 0px }
.settings_box > h5 { width: 100%; margin: 4px 0px 4px 0px }
.settings_wrap { max-width: 100% }
.settings_wrap > p { width: 24% }
.settings_wrap > select { max-width: 100% }
.settings-my-lang-box { 
    max-width: 100%; 
    padding: 5px 0px 0px 0px; 
    margin: 0px 
}
.settings-my-lang-box img { width: 12% }
.lang_title_wrap { width: 100% }
.lang_title_wrap > img { 
    width: 40px; 
    top: -25px 
}
.settings-interface-box,
.settings-color-box { 
    align-items: normal;
    max-width: 100%; 
    padding: 0px; 
    margin: 5px 0px 0px 0px; 
}
.settings-interface-box > div { padding: 35px 5px 8px 5px!important}
.interface-check {
    width: 94%!important;
    left: 0px!important;
    right: 0px!important;
    top: 5px!important;
    border: 2px solid!important;
    height: 25px!important;
    margin: auto;
}
