*{ box-sizing: border-box }

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto max-content;
  grid-template-areas: 'header' 'main_body' 'footer';
  grid-gap: 1px; 
  min-width: 250px; 
  margin: 0;
  padding: 10px;
  font-size: 14px;  
}
.header {
  grid-area: header;
}
.main_body {
  grid-area: main_body;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start!important;  
}
.footer {
  grid-area: footer;
  color: var(--main-color);
  font-size: 12px;
  flex-direction: column;
}
.footer > p{ margin: 0 }

button,
.header,
.main_body, 
.footer,
.back_to_main,
.logo_wrap,
.user_wrap,
.settings_box,
.settings_wrap,
.settings_box_default,
.settings-interface-box,
.settings-interface-box > div,
.settings-my-lang-box,
.settings-color-box,
.time_scale_wrap,
.user_login,
.user_login > a,
.logo_wrap > span > a,
button[title='main btn'] > i {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button, 
.user_settings_list_wrap,
.user_settings_list > li {
  cursor: pointer;
}


/* wrap -------------------------------------------------*/
.part_wrap{
  width: 100%;
  max-width: 1100px;
  border-radius: 15px;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid rgb(232 232 232)
}

/* back to main page -------------------------------------------------*/
.back_to_main { 
  cursor: pointer;
  width: 100%;
  justify-content: flex-end;
  padding: 0; 
}
.back_to_main > a { 
  margin: 0 10px 0 0;
  color: var(--main-color);
  font-weight: bold;
  text-decoration-line: none; 
}
.back_to_main > a:hover { text-shadow: 0px 0px 1px #5681bf }

/* in header -------------------------------------------------*/
.logo_wrap,
.user_wrap {
  width: 50%;
  min-width: 220px;
  min-height: 50px;
  padding: 5px;
}

/* logo -------------------------------------------------*/
.logo_wrap { justify-content: flex-start }
.logo_wrap p{ margin: 0px 0px 0px 7px }
.logo_wrap > span,
.logo_wrap > span > a { 
  width: 64px;
  height: 64px;
}
.logo_wrap > span > a { 
  border: 5px solid;
  border-radius: 8px;
  color: var(--main-color);
  font: bold 30px cursive;
  text-decoration-line: none;
  background: var(--fourth-color);
  border-color: var(--main-color);
}
.logo_wrap p > a {   
  color: var(--main-color);
  font: bold 24px cursive;
  text-decoration-line: none;
}

/* user -------------------------------------------------*/
.user_wrap { justify-content: flex-end }
.user_wrap > p { 
  margin: 0;
  max-width: 80%;
  font: bold 14px cursive;
  color: var(--main-color);
  text-align: right;
  text-transform: capitalize;
  word-break: break-word;
}
.user_foto { 
  position: relative;
  width: 60px;
  height: 60px;
  padding: 3px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--third-color);
}
.user_foto > img {
  border-radius: 50%;
  width: 100%;
}

/* user settings list -------------------------------------------------*/
.user_settings_list_wrap {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  margin-top: -25px;
  margin-left: 30px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--third-color);
  z-index: 1;
}
.user_settings_list_wrap > i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px 3px;
}
.user_settings_list { 
  position: absolute;
  display: none;
  top: 35px;
  right: 5px;
  min-width: 20px;
  max-width: 200px;
  opacity: 0;
  font-size: 0px;
  padding: 0px 10px;
  margin: 0;
  border-radius: 9px;
  border: 2px solid;
  border-color: var(--third-color);
  background: #fff;
  list-style: none;
}
.user_settings_list_show { display: block }
.user_settings_list::before { 
  content: '';
  position: absolute;
  top: -10px;
  right: 10px;
  border: 5px solid;
  border-color: var(--main-color);
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: skew(-20deg);
}
.user_settings_list > li { 
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid;
  border-color: var(--main-color);
}
.user_settings_list > li:hover { text-shadow: 0px 0px 1px var(--main-color) }
.user_settings_list > li > a { text-decoration: none; color: var(--main-color) }
.user_settings_list > li:last-child { border-bottom: 0px }

/* user authorization -------------------------------------------------*/
.user_login { 
  width: 140px;
  height: 60px;
  justify-content: space-around;
}
.user_login > a { 
  width: 30%;
  padding: 3px;
  border-radius: 7px;
  border: 2px solid;
  border-color: var(--third-color);
}

.user_login > a > img { width: 100%; }
.user_login > a:hover { border-width: 1px }

/* settings menu -------------------------------------------------*/
.settings_box {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid;
  font-size: 14px;  
  border-color: var(--fourth-color);
}
.settings_box:last-child {
  padding-bottom: 0px;
  border-bottom: 0;
}
.settings_wrap {
  max-width: 370px;
  width: 100%;
}
.settings_box > h5, .lang_title_wrap {
  position: relative;
  width: 140px;
  padding: 4px;
  margin: 0;  
  text-align: center;
  border: 5px solid;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  background-color: var(--third-color);
  border-color: var(--fourth-color);
}
.settings_wrap > p {
  padding: 4px;
  margin: 0;
  border: 5px solid;
  border-radius: 12px;
  width: 42px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: var(--second-color);
  border-color: var(--fourth-color);
}
/* settings select -------------------------------------------------*/
.settings_wrap > select {
  outline: 0;
  border: 5px solid;
  border-radius: 12px;
  padding: 4px 4px;
  max-width: 342px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  background-color: var(--second-color);
  border-color: var(--fourth-color);
}
input[type=range] {
  outline: 0;
  margin: 0;
  padding: 4px;
  max-width: 300px;
  width: 81%;
  border: 5px solid;
  border-radius: 12px;
  -webkit-appearance: none;
  border-color: var(--fourth-color);
  background-color: var(--second-color);
}
input[type=range]::-webkit-slider-runnable-track {
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 16px;
  padding: 0px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: var(--fourth-color);
  border: solid rgba(215, 255, 255, 0.4);
  border-width: 8px 6px 8px 6px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
/* settings language -----------------------------------------------*/
.settings-interface-box,
.settings-my-lang-box,
.settings-color-box {
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  padding: 0px 5px;
  margin-left: 9px;
  margin-right: 9px;
}

.settings-my-lang-box img {
  cursor: pointer;
  width: 34px;
  min-height: 30px;
  border: 5px solid;
  border-color: var(--fourth-color);
  border-radius: 9px;
  padding: 3px;
  background: var(--second-color);
}
.settings-my-lang-box img:hover{
  border: 2px solid;
  border-color: var(--fourth-color);
}
.lang_title_wrap > h5{ margin: 0;}
.lang_title_wrap > img{
  position: absolute;
  border: 4px solid;
  border-color: var(--fourth-color);
  border-radius: 8px;
  background-color: var(--fourth-color);
  width: 28px;
  min-height: 22px;
  top: -15px;
  right: -12px;
}

/* settings color -----------------------------------------------*/
.settings-color-box p {
  cursor: pointer;
  width: 18%;
  min-height: 30px;
  margin: 0px;
  border: 5px solid;
  border-color: var(--fourth-color);
  border-radius: 9px;
}
.settings-color-box p:hover { border: 3px solid var(--fourth-color) }
.blue{ background-color: #687c9a }
.green{ background-color: #356a3e }
.red{ background-color: #82353f }
.yellow{ background-color: #9d9743 }
.grey{ background-color: #545454 }

/*settings interface ------------------------------------------*/
.settings-interface-box > div {
  position: relative;
  margin: 0;
  padding: 4px;
  border: 5px solid;
  border-radius: 12px;
  width: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--second-color);
  border-color: var(--fourth-color);
}
.settings-interface-box > div:first-child { padding-right: 45px }
.settings-interface-box > div:last-child { padding-left: 45px }
.settings-interface-box p { margin: 0 }
.settings-interface-box .interface-check{
  cursor: pointer;
  position: absolute;
  border: 4px solid;
  border-radius: 6px;
  height: 17px;
  width: 40px;
  top: 3px;
  background-color: transparent;
  color: var(--fourth-color);
}
.settings-interface-box .interface-check:first-child{ left: 5px }
.settings-interface-box .interface-check:last-child{ right: 5px }
.interface_checked { background-color: #fff!important }
.interface_checked:hover{ border: 1px solid }


/* default settings message ---------------------------------------*/
.settings_box_default{ flex-direction: column }
.settings_box_default b, p{ margin: 6px }
.settings_box_default b{ color:var(--main-color) }
.settings_box_default p{ 
  min-width: 130px;
  color:var(--third-color); 
}
.settings_box_default b > i{ 
  cursor: pointer;
  color:var(--second-color); 
}
.settings_box_default .line{ 
  display: block;
  margin: 20px 0px;
  width: 100%; 
  border-bottom: 1px solid var(--fourth-color); 
}

/* alert message --------------------------------------------------*/
p[id="alert-message"] {
  display: block;
  margin-top: 30px;
  color: rgb(185 48 48);
  text-align: center;
  font-weight: bold;
}

/* time scale btn -------------------------------------------------*/
#time_scale {
  width: 100%;
  height: 2px;
  position: relative;
  background: #a52d2d;
  margin: 0px;
}

/* button ---------------------------------------------------------*/
button {
  outline: 0;
  margin: 4px;
  border: 1px solid #cfcfcf;
  border-radius: 12px;
  min-width: 36px;
  height: 36px;
  font-size: 17px;
  color: var(--main-color);
  background: var(--fourth-color);
}
button:hover {
  box-shadow: 0px 0px 2px #c1c1c1;
  color: #111111;
}
button:disabled, button:disabled:hover {
  border-color: #e6cccc;
  background: #ffffff;
  color: #a7a7a7;
  cursor: no-drop;
}
button[title] { border-radius: 7px }
button[title='Send answer'] { width: 100px }
button[id='btn-listening'] > i { width: 22px; }

/* main btn ------------------------------------------------------*/
.selectLanguage,
button[title='main btn'] {
  position: relative;
  width: 60%;
  height: fit-content;
  padding: 20px 55px 20px 10px;
  margin: 20px auto;
  color: var(--main-color);
  font-weight: bold;
  border: 1px solid;
  background: #ffffff;
}
.selectLanguage {
  padding: 13px 60px 13px 10px;
  margin: 15px auto;
}
.selectLanguage > img,
button[title='main btn'] > i {
  position: absolute;
  right: 0px;
  border: 1px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  width: 50px;
  height: 100%;
  border-radius: 0px 6px 6px 0px;
  background: var(--fourth-color);
  color: var(--main-color);
}
.selectLanguage > img {
  border-radius: 6px;
  border: 1px solid var(--main-color);
  background: var(--fourth-color);
  padding: 3px;
  height: 80%;
  width: 50px;
  right: 5px;
}
.selectLanguage:hover { 
  color: var(--main-color);
  box-shadow: 0px 0px 3px var(--main-color);
}
button[title='main btn']:hover {
  box-shadow: 0px 0px 2px var(--main-color);
}

/*profile ---------------------------------------------------------*/
#profile_lang,
#profile_interf {
  font-weight: normal;
}