<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>

    <%- include("./parts/header.ejs") %>

    <p>dddddddddddddddddddddddddddddd</p>

    <script src="./js/js.js"></script>

</body>
