<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <%- include("./parts/mainbody.ejs") %>
    </div>
    <%- include("./parts/footer.ejs") %>

    <script src="./js/js.js"></script>
    <script src="./js/speach_module.js"></script>
    <script src="./js/listening_module.js"></script>
    <script src='./js/icon.js'></script>

</body>