<p id="alert-message"><%= DATA.errors.errMessage %><%= DATA.errors.SERVER_ERROR %></p>
<% if (DATA.errors.SERVER_ERROR !== '') { %>
    <%= DATA.errors.SERVER_ERROR = ''%>
    <script> setTimeout(() => { window.location.href = "/" }, 7000) </script>
<% } %>