<div class="part_wrap footer" style="border: 0">
    <p id="site-title"><%=DATA.langPack.site %></p>
    <p><strong id="dev-title"><%=DATA.langPack.dev %></strong></p>
    <p>Copyright © 2021 <strong>repeatWords</strong></p>
</div>