<div class="part_wrap header">
    <div class="logo_wrap">
        <a href="/"><img src="img/logo_repeat_words.png" alt="rW"></a>
        <p><a href="/">repeatWords</a></p>
    </div>
    <div class="user_wrap">
        <p id="user_name">Свироид Володимир</p>
        <div class="user_foto">
            <img src="img/my_foto.jpg" alt="foto" id="user_foto">
            <div class="user_settings_list_wrap">
                <i class='fas fa-cogs' onclick="showSettingsList()"></i> 
                <ul class="user_settings_list">
                    <li><a href="/settings">settings</a></li>
                    <li><a href="/friends">friends</a></li>
                    <li><a href="/">exit</a></li>
                </ul>
            </div>
        </div>    
        
        <!-- <div class="user_login">
            <span><img src="img/google.png" alt="google"></span> 
            <span><img src="img/facebook.png" alt="facebook"></span> 
            <span><img src="img/linkedin.png" alt="facebook"></span> 
        </div> -->
    </div>
</div>