<div class="part_wrap">
        
    <div class="settings_box">
        <div class="lang_title_wrap">
            <h5 id="settings-my-lang-title">My language</h5>
            <img id="settings-my-lang">
        </div>

        <div id="settings-my-lang-box">


        </div>
        <p id="settings-my-lang-name"></p>
    </div>


    <div class="settings_box">
        <h5>voice</h5>
        <div class="settings_wrap">
            <select id='voice-list'></select>
        </div>
    </div>
    <div class="settings_box">
        <h5>spead</h5>
        <div class="settings_wrap">
            <input type="range" id="voice-spead" min="0.5" max="2" step="0.1">
            <p><span id="voice-spead-label"></span> x</p>
        </div>
    </div>
    <div class="settings_box">
        <h5>pitch</h5>
        <div class="settings_wrap">
            <input type="range" id="voice-pitch" min="0" max="2" step="0.1">
            <p><span id="voice-pitch-label"></span></p>
        </div>
    </div>

    <p id="alert-message"></p>
</div>    